body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#submit{
  padding: 10px 20px;
  background-color: #712e2e6b;
  border-color: #712e2e6b;
}

#form{
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
}