<% include partials/header %>

<h1><%= title %></h1>
<p>Your Personal Reading List Organized!</p>

<% if (displayName) { %>
  <a href="/add" class="btn btn-primary">Add a New Book</a>
<% } else { %>
  <a href="/login" class="btn btn-primary">Login to Add a New Book</a>
<% } %>

<% if (displayName) { %>
  <a href="/books" class="btn btn-secondary">View My Books</a>
<% } else { %>
  <a href="/login" class="btn btn-secondary">Login to View Your Books</a>
<% } %>


<% include partials/footer %>
